In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
from scipy import stats
from numpy.random import seed
from numpy.random import randn
from numpy import mean
from numpy import std
import seaborn as sns

In [2]:
df=pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.shape

(10000, 14)

In [5]:
df=df.drop('Surname',axis=1)

In [6]:
hu=pd.get_dummies(df.Gender,drop_first=True)
df=pd.concat([df,hu],axis=1)
df.drop('Gender',axis=1,inplace=True)
hu=pd.get_dummies(df.Geography,drop_first=True)
df=pd.concat([df,hu],axis=1)
df.drop('Geography',axis=1,inplace=True)
df.head()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Male,Germany,Spain
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,3,15619304,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,4,15701354,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,5,15737888,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [7]:
x=df.drop('Exited',axis=1)
y=df['Exited']

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\MANEESH\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\MANEESH\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\MANEESH\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [10]:
X_test.shape

(2000, 13)

In [11]:
import keras

Using TensorFlow backend.

In [12]:
# 2 way difining deel leang layer 
# 1 seq for ann
from keras.models import Sequential
#2 for initi for layer in ann
from keras.layers import Dense

In [13]:
# nn build  clasifiere 
# inisilis ann for classifire
classifier = Sequential()

In [14]:
# Adding layere ,, input layer and 1 hidden layer, already know input layer from data , all independ variyebal
classifier.add(Dense(output_dim=6,init='uniform', activation='relu',input_dim=13))

C:\Users\MANEESH\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=13, units=6, kernel_initializer="uniform")`

In [15]:
# second hidden layer
classifier.add(Dense(output_dim=6,init='uniform', activation='relu'))

C:\Users\MANEESH\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

In [16]:
# out put lyaer
# dim =1 bcz only one catogory, more then 2 cotg use softmax space of sygmoic
classifier.add(Dense(output_dim=1, init='uniform', activation='sigmoid'))

C:\Users\MANEESH\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
# init compli for optimiz wait 
classifier.compile(optimizer='adam', loss= 'binary_crossentropy', metrics=['accuracy'])

In [18]:
# fitting the ANN to the training set
classifier.fit(X_train, y_train, batch_size=10, nb_epoch=100)

C:\Users\MANEESH\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/100
8000/8000 [==============================] - 7s 881us/step - loss: 0.4899 - acc: 0.7951
Epoch 2/100
8000/8000 [==============================] - 2s 257us/step - loss: 0.4299 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4250 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 2s 206us/step - loss: 0.4210 - acc: 0.8055
Epoch 5/100
8000/8000 [==============================] - ETA: 0s - loss: 0.4181 - acc: 0.8235- ETA: - 2s 270us/step - loss: 0.4180 - acc: 0.8235
Epoch 6/100
8000/8000 [==============================] - 3s 369us/step - loss: 0.4156 - acc: 0.8267
Epoch 7/100
8000/8000 [==============================] - 2s 278us/step - loss: 0.4139 - acc: 0.8311
Epoch 8/100
8000/8000 [==============================] - 2s 223us/step - loss: 0.4124 - acc: 0.8315
Epoch 9/100
8000/8000 [==============================] - 2s 224us/step - loss: 0.4111 - acc: 0.8326
Epoch 10/100
8000/8000 [==============================] - 2s 274us/step - loss: 0.4097 - acc: 0.8337
Epoch 11/100
8000/8000 [==============================] - 3s 333us/step - loss: 0.4091 - acc: 0.8334
Epoch 12/100
8000/8000 [==============================] - 3s 325us/step - loss: 0.4087 - acc: 0.8332
Epoch 13/100
8000/8000 [==============================] - 3s 340us/step - loss: 0.4078 - acc: 0.8335
Epoch 14/100
8000/8000 [==============================] - 2s 212us/step - loss: 0.4073 - acc: 0.8335
Epoch 15/100
8000/8000 [==============================] - 2s 247us/step - loss: 0.4062 - acc: 0.8354
Epoch 16/100
8000/8000 [==============================] - 2s 244us/step - loss: 0.4063 - acc: 0.8346
Epoch 17/100
8000/8000 [==============================] - 2s 297us/step - loss: 0.4061 - acc: 0.8354
Epoch 18/100
8000/8000 [==============================] - 2s 268us/step - loss: 0.4052 - acc: 0.8347
Epoch 19/100
8000/8000 [==============================] - 2s 205us/step - loss: 0.4052 - acc: 0.8342
Epoch 20/100
8000/8000 [==============================] - 2s 223us/step - loss: 0.4044 - acc: 0.8354
Epoch 21/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.4043 - acc: 0.8345
Epoch 22/100
8000/8000 [==============================] - 2s 218us/step - loss: 0.4043 - acc: 0.8341
Epoch 23/100
8000/8000 [==============================] - 2s 300us/step - loss: 0.4041 - acc: 0.8349
Epoch 24/100
8000/8000 [==============================] - 2s 267us/step - loss: 0.4040 - acc: 0.8351
Epoch 25/100
8000/8000 [==============================] - 3s 320us/step - loss: 0.4039 - acc: 0.8345
Epoch 26/100
8000/8000 [==============================] - 3s 344us/step - loss: 0.4034 - acc: 0.8344
Epoch 27/100
8000/8000 [==============================] - 3s 403us/step - loss: 0.4035 - acc: 0.8340
Epoch 28/100
8000/8000 [==============================] - 3s 370us/step - loss: 0.4030 - acc: 0.8354
Epoch 29/100
8000/8000 [==============================] - 2s 295us/step - loss: 0.4032 - acc: 0.8335
Epoch 30/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.4026 - acc: 0.8350
Epoch 31/100
8000/8000 [==============================] - 2s 237us/step - loss: 0.4029 - acc: 0.8341
Epoch 32/100
8000/8000 [==============================] - 2s 306us/step - loss: 0.4026 - acc: 0.8342 3s - loss: 0.4210 - acc: -
Epoch 33/100
8000/8000 [==============================] - 1s 185us/step - loss: 0.4025 - acc: 0.8345
Epoch 34/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.4022 - acc: 0.8346
Epoch 35/100
8000/8000 [==============================] - 2s 270us/step - loss: 0.4021 - acc: 0.8349
Epoch 36/100
8000/8000 [==============================] - 2s 239us/step - loss: 0.4023 - acc: 0.8337
Epoch 37/100
8000/8000 [==============================] - 2s 279us/step - loss: 0.4018 - acc: 0.8351
Epoch 38/100
8000/8000 [==============================] - 2s 238us/step - loss: 0.4015 - acc: 0.8337
Epoch 39/100
8000/8000 [==============================] - 2s 220us/step - loss: 0.4008 - acc: 0.8342
Epoch 40/100
8000/8000 [==============================] - 2s 229us/step - loss: 0.4005 - acc: 0.8334
Epoch 41/100
8000/8000 [==============================] - 2s 272us/step - loss: 0.4007 - acc: 0.8352
Epoch 42/100
8000/8000 [==============================] - 1s 183us/step - loss: 0.4001 - acc: 0.8342
Epoch 43/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.4000 - acc: 0.8345
Epoch 44/100
8000/8000 [==============================] - 2s 250us/step - loss: 0.4001 - acc: 0.8356
Epoch 45/100
8000/8000 [==============================] - 2s 213us/step - loss: 0.3998 - acc: 0.8356
Epoch 46/100
8000/8000 [==============================] - 2s 216us/step - loss: 0.3995 - acc: 0.8346
Epoch 47/100
8000/8000 [==============================] - 2s 233us/step - loss: 0.3986 - acc: 0.8364 1s - loss: 0.3
Epoch 48/100
8000/8000 [==============================] - 2s 224us/step - loss: 0.3983 - acc: 0.8342
Epoch 49/100
8000/8000 [==============================] - 2s 218us/step - loss: 0.3982 - acc: 0.8355
Epoch 50/100
8000/8000 [==============================] - 2s 189us/step - loss: 0.3976 - acc: 0.8352
Epoch 51/100
8000/8000 [==============================] - 2s 229us/step - loss: 0.3977 - acc: 0.8346
Epoch 52/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.3970 - acc: 0.8349
Epoch 53/100
8000/8000 [==============================] - 2s 218us/step - loss: 0.3971 - acc: 0.8354
Epoch 54/100
8000/8000 [==============================] - 2s 231us/step - loss: 0.3968 - acc: 0.8354
Epoch 55/100
8000/8000 [==============================] - 2s 213us/step - loss: 0.3970 - acc: 0.8364
Epoch 56/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3964 - acc: 0.8355
Epoch 57/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3962 - acc: 0.8366
Epoch 58/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3965 - acc: 0.8364
Epoch 59/100
8000/8000 [==============================] - 2s 205us/step - loss: 0.3962 - acc: 0.8361
Epoch 60/100
8000/8000 [==============================] - 2s 212us/step - loss: 0.3956 - acc: 0.8380
Epoch 61/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.3958 - acc: 0.8355
Epoch 62/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3953 - acc: 0.8361
Epoch 63/100
8000/8000 [==============================] - 1s 172us/step - loss: 0.3954 - acc: 0.8360
Epoch 64/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.3953 - acc: 0.8344
Epoch 65/100
8000/8000 [==============================] - 1s 175us/step - loss: 0.3955 - acc: 0.8349
Epoch 66/100
8000/8000 [==============================] - 1s 178us/step - loss: 0.3950 - acc: 0.8357
Epoch 67/100
8000/8000 [==============================] - 1s 177us/step - loss: 0.3954 - acc: 0.8370
Epoch 68/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.3949 - acc: 0.8347
Epoch 69/100
8000/8000 [==============================] - 1s 173us/step - loss: 0.3953 - acc: 0.8354
Epoch 70/100
8000/8000 [==============================] - 2s 191us/step - loss: 0.3946 - acc: 0.8356
Epoch 71/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3948 - acc: 0.8366
Epoch 72/100
8000/8000 [==============================] - 2s 238us/step - loss: 0.3944 - acc: 0.8376
Epoch 73/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3945 - acc: 0.8365
Epoch 74/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3946 - acc: 0.8362
Epoch 75/100
8000/8000 [==============================] - 2s 204us/step - loss: 0.3943 - acc: 0.8370
Epoch 76/100
8000/8000 [==============================] - 2s 197us/step - loss: 0.3943 - acc: 0.8359
Epoch 77/100
8000/8000 [==============================] - 2s 203us/step - loss: 0.3941 - acc: 0.8365 0s - loss: 0.3864 -
Epoch 78/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.3944 - acc: 0.8357
Epoch 79/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3941 - acc: 0.8371
Epoch 80/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.3943 - acc: 0.8372
Epoch 81/100

8000/8000 [==============================] - 1s 184us/step - loss: 0.3942 - acc: 0.8359
Epoch 82/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.3934 - acc: 0.8365
Epoch 83/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.3937 - acc: 0.8359
Epoch 84/100
8000/8000 [==============================] - 2s 198us/step - loss: 0.3942 - acc: 0.8369
Epoch 85/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.3939 - acc: 0.8369
Epoch 86/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3939 - acc: 0.8365
Epoch 87/100
8000/8000 [==============================] - 2s 204us/step - loss: 0.3938 - acc: 0.8360
Epoch 88/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.3935 - acc: 0.8376
Epoch 89/100
8000/8000 [==============================] - 2s 205us/step - loss: 0.3938 - acc: 0.8369
Epoch 90/100
8000/8000 [==============================] - 2s 216us/step - loss: 0.3934 - acc: 0.8374
Epoch 91/100
8000/8000 [==============================] - 2s 221us/step - loss: 0.3935 - acc: 0.8371
Epoch 92/100
8000/8000 [==============================] - 2s 234us/step - loss: 0.3933 - acc: 0.8357
Epoch 93/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.3935 - acc: 0.8369
Epoch 94/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.3934 - acc: 0.8375
Epoch 95/100
8000/8000 [==============================] - 2s 222us/step - loss: 0.3935 - acc: 0.8370
Epoch 96/100
8000/8000 [==============================] - 2s 207us/step - loss: 0.3931 - acc: 0.8377
Epoch 97/100
8000/8000 [==============================] - 2s 237us/step - loss: 0.3928 - acc: 0.8389
Epoch 98/100
8000/8000 [==============================] - 2s 244us/step - loss: 0.3933 - acc: 0.8357
Epoch 99/100
8000/8000 [==============================] - 2s 238us/step - loss: 0.3931 - acc: 0.8382
Epoch 100/100
8000/8000 [==============================] - 2s 240us/step - loss: 0.3929 - acc: 0.8376

In [19]:
y_pred=classifier.predict(X_test)

In [20]:
y_pred=(y_pred > 0.5)

In [21]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [22]:
cm

array([[1556,   39],
       [ 270,  135]], dtype=int64)

In [23]:
(1543+149)/2000

0.846

In [24]:
x.head()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male,Germany,Spain
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,0,0,1
2,3,15619304,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,4,15701354,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,5,15737888,850,43,2,125510.82,1,1,1,79084.10,0,0,1

In [25]:
new_pred=classifier.predict(sc.transform(np.array([[0,0,600,40,3,60000,2,1,1,5000,1,0,0]])))

C:\Users\MANEESH\Anaconda3\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [26]:
new_pred > 0.5

array([[False]])

In [ ]:
# classifier

In [27]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score

In [28]:
def build_classifire():
    classifier = Sequential() #local classifier
    classifier.add(Dense(output_dim=6,init='uniform', activation='relu',input_dim=13))
    classifier.add(Dense(output_dim=6,init='uniform', activation='relu'))
    classifier.add(Dense(output_dim=1, init='uniform', activation='sigmoid'))
    classifier.compile(optimizer='adam', loss= 'binary_crossentropy', metrics=['accuracy'])
    return classifier

In [29]:
classifier = KerasClassifier(build_fn=build_classifire,batch_size=10, nb_epoch=100)